/* Wrapper */
.games_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #2E7D32;
    border-radius: 10px;
    color: #FFFFFF;
}

/* Contenu interne */
.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}