/*Modale mode de jeu*/
.game_mode_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #2E7D32;
    border-radius: 10px;
    color: #FFFFFF;
}

.game_mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

#nb_player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nb_player p {
    width: fit-content;
    margin: 10px 20px 10px 0;
}

#nb_player select {
    height: 30px;
}

#define_game {
    width: fit-content !important;
}

/* Fil d'ariane */
.breadcrumb {
    position: absolute;
    bottom: 15px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.step-number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #66BB6A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #66BB6A;
}

.step-number.inactive {
    width: 10px;
    height: 10px;
}