html, body {
    height: 100%;
    margin: 0;
    color: black;
}

body:not(.home_page) {
    margin: 100px 50px;
    background-color: rgba(161, 225, 88, 0.69);
}

.icon-close {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#home_logo {
    position: fixed;
    left: 10px;
    top: 10px;
}

#home_logo img {
    width: 100px;
    height: 70px;
    transition: transform 0.15s;
}

#home_logo img:hover {
    transform: scale(1.05);
}